@model IEnumerable<HotelBookingApp.DTO.UserDTO>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

